<div class="mt-8 text-center">
  <h1 class="text-4xl">47 コレクション</h1>
  <h1 class="text-2l">よんななこれくしょん</h1>
  <p class="mx-auto mt-4 lg:w-1/2 text-gray-500">
  全国のお土産と都道府県制覇を一緒に記録できる<br>
  コレクションアプリです。<br>
  <br>
  旅先で手に入れたお土産を投稿して<br>
  47都道府県を制覇しよう
  <br>
  </p>
  <div class="mt-8 flex flex-wrap justify-center gap-20">
    <%= link_to "はじめる", new_user_registration_path, class: 'btn btn-primary flex items-center justify-center' %>
    <%= link_to "ログイン", new_user_session_path, class: 'btn btn-primary flex items-center justify-center' %>
  </div>
</div>
