<div class="flex items-center justify-center p-4">
  <div class="max-w-md w-full bg-white rounded-xl shadow-lg p-8">
    <h2 class="text-2xl font-bold text-gray-900 mb-6 text-center">マイページ</h2>
    <div class="space-y-10">

      <div class="flex">
        <p class="w-24 text-gray-500">名前</p>
        <p class="font-medium"><%= @user.name %></p>
      </div>

      <div class="flex">
        <p class="w-24 text-gray-500 shrink-0">自己紹介</p>
        <p class="font-medium break-words"><%= @user.bio %></p>
      </div>

      <div class="flex">
        <p class="w-24 text-gray-500">公開設定</p>
        <p><%= @user.is_published ? "公開" : "非公開" %></p>
      </div>

      <div>
        <%= link_to "編集する", edit_user_registration_path, class: "block w-full bg-indigo-600 hover:bg-indigo-700 text-white font-medium py-2.5 rounded-lg transition-colors mb-4 text-center" %>
      </div>

    </div>
  </div>
</div>
